In [1]:
#IMBALANCED DATASET
#has unequal class distribution

In [2]:
#importing the dependancies
import numpy as np
import pandas as pd

In [3]:
#loading dataset
credit_card_data = pd.read_csv('credit_data.csv')

In [4]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
#distributuion of the two classes 
credit_card_data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

This is a highly imbalanced dataset

0 --> legit transactions
1 --> fraud transactions

In [6]:
#seperating the legit and fraud transactions
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [7]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

UNDER-SAMPLING

In [8]:
#build a sample dataset contaning similar distribution of legit and fraud transactions
#numner of fraud transaction - 492
legit_sample = legit.sample(n=492)

In [9]:
print(legit_sample.shape)

(492, 31)

In [11]:
#concatinate the two dataframes
new_dataset = pd.concat([legit_sample, fraud], axis = 0)

In [12]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
124979,77493.0,-0.478104,1.086130,2.138178,2.867631,-0.151815,0.104318,0.716349,-0.044801,-1.650619,...,-0.036430,-0.259009,0.209797,0.382130,-0.443998,-0.054494,0.121772,0.154792,91.28,0
193046,129970.0,-1.726713,-1.075481,0.705919,2.775249,2.443004,-0.848175,0.283732,0.219794,-1.768771,...,0.028940,-1.014573,1.164569,-0.507736,-1.559609,-0.952632,0.109756,0.328725,179.00,0
35371,38089.0,-0.662645,0.906357,1.624775,-0.665543,0.863462,-0.651851,1.289302,-0.245995,-0.330361,...,0.100078,0.411821,-0.303917,0.065329,0.208474,-0.665751,-0.077820,-0.112835,3.11,0
132810,80121.0,1.159396,0.064836,0.192438,1.110680,-0.334168,-0.551539,-0.006670,0.046184,0.366331,...,0.038040,0.019398,-0.056684,0.017067,0.520049,-0.292297,0.009493,0.015020,25.00,0
269747,163753.0,2.087754,0.178929,-1.474220,1.665385,0.718967,-0.224360,0.307491,-0.264885,-0.812811,...,-0.283873,-0.792781,0.199287,-0.975151,-0.382232,2.131595,-0.218078,-0.093772,16.83,0

In [13]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64